[Unit]
Description=Radar {{ item }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart={{ script_path }}/script.py {{ item }}
User=umbrel

[Install]
WantedBy=multi-user.target
