[Unit]
Description=Webapp {{ script_name }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory={{ script_path }}
Environment="FLASK_DEBUG=1"
Environment="FLASK_APP={{ script_path }}/{{ script_name }}"

ExecStart={{ script_path }}/venv/bin/flask run --host=0.0.0.0 --port={{ script_port }}
User=root

[Install]
WantedBy=multi-user.target
